*{
    font-family: Montserrat, sans-serif;
}
.programs-progress-bar{
    color: #fff;
    width: 75%;
    border-radius: 8px;
    margin: 15px 0;
}
.course-image{
    width: 100%;
    height: 250px;
    padding: 25px;
    background-size: cover;
    border-radius: 8px;
    margin: 10px 0;
}
.course-card-title{
    font-size: 24px;
    font-weight: 600;
    color: white;
}
.course-card-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 0.9;
    margin: 0;
    color: white;
    align-items: flex-end;
    display: flex;
}
.course-card-rating .fa-heart{
    font-size: 16px;
    margin: 0;
    color: white;
    padding-right: 5px;
    align-items: flex-end;
    display: flex;
}
.course-card-btn{
    border: none;
    border-radius: 8px;
    padding: 15px;
    background-color: rgba(255,255,255, 0.5);
    transition: 0.5s;
}
.course-card-rating{
    border: none;
    border-radius: 8px;
    margin: 0;
    padding: 15px;
    transition: 0.5s;
}
.course-card-btn:hover{
    background-color: rgba(255,255,255, 0.4);
    transition: 0.5s;
}
.course-card-btn-text{
    color: white;
    line-height: 16px;
}
