.courses-lecture{
    font-size: 16px;
}
.course-description{
    font-size: 14px;
    color: #7e919f;
}
.video-step-player{
    width: 100%;
    height: 320px;
}
@media (max-width: 768px) {
    .courses-title{
        margin-bottom: 1rem!important;
    }
}
.courses-lecture{
    font-size: 16px;
}
.course-description{
    font-size: 14px;
    color: #7e919f;
}

@media (max-width: 768px) {
    .courses-title{
        margin-bottom: 1rem!important;
    }
}

